*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(30, 30, 30);
}

.container{
    width: clamp(300px, 80vw, 960px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    width: 75px;
    height: 75px;
    border: 5px solid ;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* button::after{
    content: 'Clique aqui';
} */